h1{
    text-align: center;
}

.ice-container {
    position: relative;
    width: 550px;
    height: 550px;
    margin: 20px auto;
}

.ice-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}