h1 {
  text-align: center;
  background-color: #ff6347;
  font-size: 4em;
}
.pizza-container {
  position: relative;
  width: 550px;
  height: 550px;
  margin: 20px auto;
}

.pizza-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pizza-options {
  border: 2px solid black;
  padding: 10px;
}

.page-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.page1 {
  flex: 1;
}

.page2 {
  width: 35%;
  background-color: #f0f0f0;
  padding: 20px;
}

h2 {
  background-color: #ff6347;
  columns: white;
  padding: 20px 0;
  font-size: 2em;
  text-align: center;
}

.item-cell {
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #ddd;
}

.itme-image {
  width: 100px;
  height: 100px;
}

.item-description {
  flex: 3;
  text-align: left;
  padding-left: 20px;
}

.item-image img {
  width: 100px;
  height: 100px;
}
